*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --fs-16px:16px;
    --fs-18px:18px;
    --fs-20px:20px;
    --fs-40px:40px;
    --fs-54px:54px;
    --fw-600:600;
    --fw-700:700;
    --fw-500:500;
    --white: #ffffff;
    --dark-gunmetal: #212529;
    --platinum: #DEE2E6;
    --gray: rgb(115, 115, 115);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    padding: 0 15px;
    margin: auto;
    width: min(1110px,(100% - 30px));
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input,
textarea{
    outline: none;
    border: none;
}
img{
    max-width: 100%;
}
.flex{
    display: flex;
}
.i-flex{
    display: inline-flex;
    align-items: center;
}
.flex-column-center{
    flex-direction: column;
    align-items: center;
}
.grid{
    display: grid;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
h1.title{
    line-height: 120%;
    font-size: var(--fs-54px);
    color: var(--dark-gunmetal);
}
h2.title{
    font-size: var(--fs-40px);
    color: var(--dark-gunmetal);
}
.description{
    line-height: 1.6;
    font-size: var(--fs-16px);
    color: var(--gray);
}
.hire-me{
    display: inline-block;
    padding: 10px 12px;
    font-size: var(--fs-16px);
    font-weight: 500;
    border-radius: 8px;
    background-color: var(--dark-gunmetal);
    color: var(--white);
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 15px 0;
    background-color: var(--dark-gunmetal);
}
header .container{
    justify-content: space-between;
}
header .container .logo a{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
}
@media (max-width:991px) {
    header .container nav ul{
        position: fixed;
        top: 90px;
        right: -100%;
        width: 200px;
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        background-color: #212529;
    }
    header .container nav ul li a{
        display: inline-block;
        margin: 10px 0;
        color: var(--white);
    }
    header .container nav img.menu-icon{
        width: 25px;
    }
}
@media (min-width:992px) {
    header .container nav img.menu-icon{
        display: none;
    }
    header .container nav ul{
        display: flex;
        gap: 40px;
    }
    header .container nav ul li a{
        display: inline-block;
        color: var(--platinum);
        font-weight: 600;
    }
    header .container nav ul li a:hover,
    header .container nav ul li .active{
        color: var(--white);
    }
}
section:not(.hero){
    padding: 60px 0;
}
.hero{
    padding: 40px 0 ;
    background-color:var(--platinum);
}
.hero .container{
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 60vh;
}
.hero .container .info p{
    margin: 15px 0;
    font-size: var(--fs-18px);
    color: var(--gray);
}
@media (min-width:992px) {
.hero .container{
    grid-template-columns: 40% 45%;
    justify-content: space-between;
}
}
.about-me .container{
    align-items: center;
    justify-content: center;
    gap:40px 130px;
}
.about-me .container .details p{
    margin-bottom: 20px;
}
.about-me .container .details .btns{
    gap: 10px;
}
.about-me .container .details .btns a:last-child{
    padding: 10px 12px;
    border-radius: 8px;
    font-size: var(--fs-16px);
    font-weight: 500;
    border: 2px solid var(--dark-gunmetal);
    color: var(--dark-gunmetal);
}
@media (max-width:991px) {
.about-me .container h2{
    text-align: center;
}
}
@media (min-width:992px) {
    .about-me .container{
        grid-template-columns: 15% 45%;
        justify-content: space-between;
    }
}
.services{
    background-color: var(--platinum);
}
.services .container{
    gap: 25px;
}
.services .container .services-list{
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
}
.services .container .services-list .service{
    gap: 25px;
    width: 280px;
    padding:30px 20px;
    border-radius: 12px;
    font-weight: 500;
    background-color: var(--dark-gunmetal);
    color: var(--white);
}
.services .container .services-list .service h3{
    font-size: var(--fs-20px);
}
.services .container .services-list .service p{
    text-align: center;
    font-size: var(--fs-16px);
    color: rgb(255 255 255 /0.6);
}
.blog .container .courses {
    grid-template-columns: repeat(auto-fit, min(420px, 100%));
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.blog .container .courses .course{
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--platinum);
}
.blog .container .courses .course .course-details{
    padding: 15px;
}
.blog .container .courses .course h3{
    margin-bottom: 10px;
    font-size: var(--fs-20px);
    font-weight: 600;
    color: var(--dark-gunmetal);
}
.blog .container .courses .course p{
    line-height: 1.6;
    font-size: var(--fs-16px);
    color: var(--dark-gunmetal);
}
.blog .container .courses .course .image{
    width: 100%;
    height: 100%;
    background-color: var(--gray);
}
