*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --fs-16px:16px;
    --fs-18px:18px;
    --fs-20px:20px;
    --fs-40px:40px;
    --fs-54px:54px;
    --fw-600:600;
    --fw-700:700;
    --fw-500:500;
    --white: #ffffff;
    --dark-gunmetal: #212529;
    --platinum: #DEE2E6;
    --gray: rgb(115, 115, 115);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    padding: 0 15px;
    margin: auto;
    width: min(1110px,(100% - 30px));
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input,
textarea{
    outline: none;
    border: none;
}
img{
    max-width: 100%;
}
h1{
    line-height: 120%;
    font-size: var(--fs-54px);
    color: var(--dark-gunmetal);
}
section .container h2.text-center{
    text-align: center;
}
.title{
    font-size: var(--fs-40px);
    color: var(--dark-gunmetal);
}
.hire-me{
    display: inline-block;
    padding: 10px 12px;
    font-size: var(--fs-16px);
    font-weight: 500;
    border-radius: 8px;
    background-color: var(--dark-gunmetal);
    color: var(--white);
}